//loging
#loging_w{
    visibility: hidden;
    right: 0px;
    top: 70px;
    background: #fff;
    z-index: 5;
    position: absolute;
    width: 304px;
    height: 470px;
    padding: 0px 40px;
}
.loging{
    width: 100%;
    position: relative;
}
.error{
    visibility: hidden;
    transition: all 1s;
    font-size: 14px;
    color: #333;
    display: block;
    text-align: center;
    width: 100%; 
}
.error>span{
    border-radius: 5px;
    width: 100%;
    background: rgba(216, 36, 61,0.7);
    color: #fff;
    transition: all 1s;
    padding: 2px 0px;
    display: inline-block;
}
.loging>div{
    float: left;
}
.loging h2{
    font-size: 18px;
    padding: 30px 0;
}
.id_w{
    width: 300px;
    height: 38px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
}
.id_w i{
    padding-right: 5px;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../images/user.png) no-repeat 2px 2px;
}
#log_user{
    color: #bbb;
    font-size: 14px;
    text-indent: 8px;
    float: left;
    border: none;
    height: 38px;
    width: 80%;
}
.pass_w{
    width: 300px;
    height: 38px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
}
.pass_w i{
    padding-right: 5px;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../images/lock.png) no-repeat 2px 2px;
}
#log_password{
    color: #bbb;
    font-size: 14px;
    text-indent: 8px;
    float: left;
    border: none;
    height: 38px;
    width: 80%;
}
#btn{
    border: none;
    width: 100%;
    height: 48px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #b4a078;
    font-size: 18px;
    line-height: 48px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.more_w{
    margin-top: 10px;
    width: 100%;
    padding: 0px 0 9px 0;
}
.more_w a{
    height: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #999;
    font-size: 12px;
    line-height: 16px;
}
.word_w{
    color: #999;
    width: 100%;
    position: relative;
}
.word_w>div{
    margin: 20px 0px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #999;
}
.word_w>span{
    top: 5px;
    padding: 5px;
    position: absolute;
    left: 50%;
    text-indent: 0;
    margin-left: -60px;
    background: #fff;
    z-index: 1;
    font-size: 14px;
}
.icon_w{
    width: 100%;
    padding-top: 20px;
}
.icon_w a{
    overflow: hidden;
    line-height: 85px;
    font-size: 14px;
    color: #666;
    text-align: center;
    display: inline-block;
    width: 65px;
    height: 50px;
    position: relative;
}
.icon_w a:nth-of-type(4){
     width: 70px;
    margin-left: 12px;
}
.icon_w a i{
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon_w a:nth-of-type(1) i{
    background: url(../images/icon5.png) no-repeat 0px 0px;
}
.icon_w a:nth-of-type(2) i{
    background: url(../images/icon5.png) no-repeat -76px 0px;
}
.icon_w a:nth-of-type(3) i{
    background: url(../images/icon5.png) no-repeat -145px 0px;
}
.icon_w a:nth-of-type(4) i{
    margin-left: 20px;
    background: url(../images/qyy.png) no-repeat 0px 0px;
}
.log_close{
    cursor: pointer;
    top: 24px;
    right: 24px;
    position: absolute;
    background: url(../images/close.png) no-repeat 0px -94px;
    width: 24px;
    height: 24px;
}
//loging_end
#main{
    width: 100%;
}
.con{
    font-size: 14px;
    width: 1090px;
    margin: 0px auto;
}
.con_t{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 0px 12px 30px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}
.con_t>div{
    float: left;
}
.con_t_all{
    width: 15%;
}
.con_t_all>input{
    display: inline-block;
    background: none;
    width: 18px;
    height: 18px;
    margin-right: 12px;
}
.con_t_all>span{
    display: inline-block;
}
.con_t_det{
    width: 35%;
}
.con_t_pri{
    width: 15%;
}
.con_t_cou{
    width: 15%;
}
.con_t_sub{
    width: 10%;
}
.con_t_ope{
    width: 10%;
}
.empty_w{
    width: 100%;
    height: 400px;
}
.empty{
    line-height: 300px;
    text-align: center;
    color: #999;
    width: 1090px;
    font-weight: 500;
    font-size: 18px;
}
.con_m{
    margin-bottom: 10px;
    height: 100px;
    padding: 20px 0px 20px 30px;
    border: 1px solid #ddd;
}
.con_m_sel input{
    display: inline-block;
    background: none;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    margin-top: 40px;
}
.con_m>div{
    float: left;
}
.con_m_det{
    width: 42%;
}
.pic_size{
    width: 98px;
    height: 98px;
    background: #f4f4f4;
}
.pic_size img{
    width: 100%;
    height: 100%;
}
.con_m_det_word{
    padding: 10px 0px 0px 20px;
}

.con_m_det_word a{
    font-size: 15px;
    float: left;
    display: inline-block;
    color: #333;
}
.con_more{
    
    font-size: 13px;
    padding-top: 5px;
}
.con_more span{
    float: left;
    color: #999;
}
.con_more i{
    margin-left: 8px;
    margin-top: 7px;
    float: left;
    width: 10px;
    height: 4px;
    background: url(../images/icon.png) no-repeat 0px -2301px;
    display: inline-block;
}
.con_m_pri{
    line-height: 10px;
    padding-top: 20px;
    width: 14%;
    text-align: center;
}
.con_m_pri em,i,span{
    display: inline-block;
}
.con_m_pri i{
    text-decoration:line-through;
    line-height: 10px;
    margin-left: 5px;
    font-size: 12px;
    color: #999;
}
.con_m_pri>span{
    margin-top: 8px;
    font-size: 14px;
    line-height: 14px;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    background: 0 0;
    color: #E36844;
    border: 1px solid #e36844;
    border-radius: 2px;
}
.con_m_cou{
    margin-left: 20px;
    text-align: center;
    padding-top: 10px;
    width: 14%;
}
.con_m_cou a{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    color: white;
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #c0ae8a;
}
.con_m_cou a:hover{
    text-decoration: none;
}
.con_m_cou input{
    line-height: 16px;
    color: #999;
    font-size: 16px;
    text-align: center;
    border: 1px solid #c0ae8a;
    float: left;
    width: 60px;
    height: 28px;
}
.con_m_sub{
    
    line-height: 10px;
    padding-top: 20px;
    text-align: center;
    width: 15%;
}
.con_m_sub span{
    
    font-size:16px ;
    color: #d4282d;
}
.con_m_ope{
    max-height: 142px;
    padding-top: 10px;
    width: 10%;
}
.con_m_ope a{
    margin-bottom: 14px;
    display: block;
    line-height: 10px;
    font-size: 14px;
    color: #999;
}
.con_b{
    background: #f5f5f5;
    width: 1090px;
    height: 66px;
    margin: 0px auto 40px;
}
.con_b_l{
    margin-top:24px ;
    margin-left:30px ;
    float: left;
    height: 23px;
}
.con_b_l_sel input{
    margin-right: 12px;
    width: 18px;
    height: 18px;
}
.con_b_l_num p{
    font-size: 14px;
    display: inline-block;
    line-height: 12px;
}
.con_b_l_num p>span{
    display: inline-block;
    line-height: 10px;
}
.con_b_l a{
    color: #333;
    margin-left: 32px;
}
.con_b_r button{
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
    border: none;
    height: 66px;
    width: 144px;
}
.pri_all{
    padding: 10px 10px 0px 0px;
}
.pri_all p,p>span{
    color: #999;
    display: inline-block;
}
.pri_all p>span{
    margin-right: 10px;
    line-height: 10px;
}
.pri_all p:nth-of-type(2) span{
    font-size: 22px;
    color: #d4282d;
    font-weight: 700;
    padding-left: 10px;
}
.con_b_r a{
    margin-right: 20px;
    margin-top: 3px;
    font-size: 14px;
    color: #d3282d;
}
.loved{
    width: 1090px;
    margin: 0px auto;
}
.loved_t{
    font-weight: 700px;
    background: #f5f5f5;
    padding-left: 22px;
    line-height: 44px;
    font-size: 17px;
    height: 44px;
}
.loved_b{
    position: relative;
    border: 1px solid #f4f4f4;
    height: 319px;
}
.loved_w{
    overflow: hidden;
    margin-top: 12px;
    margin-left: 79px;
    width: 930px;
    height: 307px;
}
.loved_ul li{
    margin-right: 22px;
    float: left;
    width: 210px;
}
.loved_word{
    text-align: center;
}
.loved_word i{
    margin: 3px 0px 0px 0px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}
.loved_word p{
    margin: 5px 0px 0px 0px;
    display: inline-block;
    font-weight: 700;
}
.loved_word a{
    border-radius: 5px;
    color: #fff;
    line-height: 24px;
    height: 24px;
    background: #c0ae8a;
    text-align: center;
    display: inline-block;
    width: 120px;
    
}
.loved_word a:hover{
    text-decoration: none;
}
.l_ljt{
    position: absolute;
    top: 150px;
    left: 30px;
    width: 30px;
    height: 30px;
    display: block;
    background: url(../images/icon.png) no-repeat 0px -2239px;
}
.l_yjt{
    position: absolute;
    top: 150px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: block;
    background: url(../images/icon.png) no-repeat 0px -4139px;
}