#loging_w {
  right: 0px;
  top: 70px;
  background: #fff;
  z-index: 1;
  position: absolute;
  box-shadow: #ccc 7px 5px 20px 0px;
  width: 304px;
  height: 470px;
  padding: 0px 40px; }

.loging {
  width: 100%;
  position: relative; }

.error {
  visibility: visible;
  transition: all 1s;
  font-size: 14px;
  color: #333;
  display: block;
  text-align: center;
  width: 100%; }

.error > span {
  border-radius: 5px;
  width: 100%;
  background: rgba(216, 36, 61, 0.7);
  color: #fff;
  transition: all 1s;
  display: inline-block; }

.loging > div {
  float: left; }

.loging h2 {
  font-size: 18px;
  padding: 30px 0; }

.id_w {
  width: 300px;
  height: 38px;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px; }

.id_w i {
  padding-right: 5px;
  margin-left: 8px;
  margin-top: 8px;
  float: left;
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../images/user.png) no-repeat 2px 2px; }

#log_user {
  color: #bbb;
  font-size: 14px;
  text-indent: 8px;
  float: left;
  border: none;
  height: 38px;
  width: 80%; }

.pass_w {
  width: 300px;
  height: 38px;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px; }

.pass_w i {
  padding-right: 5px;
  margin-left: 8px;
  margin-top: 8px;
  float: left;
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../images/lock.png) no-repeat 2px 2px; }

#log_password {
  color: #bbb;
  font-size: 14px;
  text-indent: 8px;
  float: left;
  border: none;
  height: 38px;
  width: 80%; }

#btn {
  border: none;
  width: 100%;
  height: 48px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #b4a078;
  font-size: 18px;
  line-height: 48px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px; }

.more_w {
  margin-top: 10px;
  width: 100%;
  padding: 0px 0 9px 0; }

.more_w a {
  height: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  line-height: 16px; }

.word_w {
  color: #999;
  width: 100%;
  position: relative; }

.word_w > div {
  margin: 20px 0px;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #999; }

.word_w > span {
  top: 5px;
  padding: 5px;
  position: absolute;
  left: 50%;
  text-indent: 0;
  margin-left: -60px;
  background: #fff;
  z-index: 1;
  font-size: 14px; }

.icon_w {
  width: 100%;
  padding-top: 20px; }

.icon_w a {
  overflow: hidden;
  line-height: 85px;
  font-size: 14px;
  color: #666;
  text-align: center;
  display: inline-block;
  width: 65px;
  height: 50px;
  position: relative; }

.icon_w a:nth-of-type(4) {
  width: 70px;
  margin-left: 12px; }

.icon_w a i {
  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block; }

.icon_w a:nth-of-type(1) i {
  background: url(../images/icon5.png) no-repeat 0px 0px; }

.icon_w a:nth-of-type(2) i {
  background: url(../images/icon5.png) no-repeat -76px 0px; }

.icon_w a:nth-of-type(3) i {
  background: url(../images/icon5.png) no-repeat -145px 0px; }

.icon_w a:nth-of-type(4) i {
  margin-left: 20px;
  background: url(../images/qyy.png) no-repeat 0px 0px; }

.log_close {
  display: none;
  cursor: pointer;
  top: 24px;
  right: 24px;
  position: absolute;
  background: url(../images/close.png) no-repeat 0px -94px;
  width: 24px;
  height: 24px; }

#main_w {
  width: 100%;
  height: 600px;
  position: relative;
  background: url(../images/bg2.jpg) no-repeat center center; }

.main {
  position: relative;
  width: 1090px;
  margin: 0px auto; }

.loging_w {
  position: absolute;
  height: 600px; }

.main > .loging_w {
  visibility: visible;
  position: absolute;
  top: 0px; }
