<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
      namespace；隔离sql语句
-->
<mapper namespace="com.netease.selected.dao.UserDao">
    <sql id="content">
        a.uid,
        a.username,
        a.password,
        a.phone,
        a.email,
        a.birthday,
        a.sex,
        a.hobby,
        a.info
    </sql>

    <select id="selectUserByEmail" resultType="User">
        select
           <include refid="content"/>
        FROM ne_user AS a
        WHERE
            a.email = #{email}

    </select>

    <select id="checkEmail" resultType="User">
        select
        <include refid="content"/>
        FROM ne_user AS a
        WHERE
        a.email = #{email}
    </select>

    <insert id="insertUser" >
        insert into ne_user (email,phone,password) VALUES (#{email},#{phone},#{password})
    </insert>


</mapper>
